// Border


@include compose-breakpoint-rules($breakpoints) {
  // border:
  .b-top#{$breakpoint-mod} {
    border-top: 1px solid;
  }
  .b-bottom#{$breakpoint-mod} {
    border-bottom: 1px solid;
  }
  .b-right#{$breakpoint-mod} {
    border-right: 1px solid;
  }
  .b-left#{$breakpoint-mod} {
    border-left: 1px solid;
  }
  .b-all#{$breakpoint-mod} {
    border: 1px solid;
  }
  .b-hor#{$breakpoint-mod} {
    border-right: 1px solid;
    border-left: 1px solid;
  }
  .b-ver#{$breakpoint-mod} {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  // border-width:
  .b-w-none#{$breakpoint-mod} {
    border-width: 0;
  }
  @include compose-mapped-rules($border-widths) {
    .b-w-#{$map-prop}#{$breakpoint-mod} {
      border-width: $map-val;
    }
  }
  // border-radius:
  .b-r-none#{$breakpoint-mod} {
    border-radius: 0;
  }
  .b-r-circle#{$breakpoint-mod} {
    border-radius: 100%;
  }
  .b-r-pill#{$breakpoint-mod} {
    border-radius: 1000px;
  }
  @include compose-mapped-rules($border-widths) {
    .b-r-#{$map-prop}#{$breakpoint-mod} {
      border-radius: $map-val;
    }
  }
  // border-radius 'position':
  .b-r-top#{$breakpoint-mod} {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .b-r-bottom#{$breakpoint-mod} {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .b-r-right#{$breakpoint-mod} {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-left#{$breakpoint-mod} {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .b-r-top-right#{$breakpoint-mod} {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-top-left#{$breakpoint-mod} {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-bottom-right#{$breakpoint-mod} {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-bottom-left#{$breakpoint-mod} {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  // border-style:
  .b-st-none#{$breakpoint-mod} {
    border-style: none;
  }
  .b-st-solid#{$breakpoint-mod} {
    border-style: solid;
  }
  .b-st-dot#{$breakpoint-mod} {
    border-style: dot;
  }
  .b-st-dash#{$breakpoint-mod} {
    border-style: dash;
  }
  // border-color:
  .b-c-inherit#{$breakpoint-mod} {
    border-color: inherit;
  }
  .hov-b-c-inherit#{$breakpoint-mod}:hover {
    border-color: inherit;
  }
  @include compose-mapped-rules($colors) {
    .b-c-#{$map-prop}#{$breakpoint-mod} {
      border-color: $map-val;
    }
    .hov-b-c-#{$map-prop}#{$breakpoint-mod}:hover {
      border-color: $map-val;
    }
  }
}
