// # Border
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include breakpoint-rules($breakpoints) {
  // border:
  .b-top#{$breakpoint-step} {
    border-top: 1px solid;
  }
  .b-bottom#{$breakpoint-step} {
    border-bottom: 1px solid;
  }
  .b-right#{$breakpoint-step} {
    border-right: 1px solid;
  }
  .b-left#{$breakpoint-step} {
    border-left: 1px solid;
  }
  .b-all#{$breakpoint-step} {
    border: 1px solid;
  }
  .b-hor#{$breakpoint-step} {
    border-right: 1px solid;
    border-left: 1px solid;
  }
  .b-ver#{$breakpoint-step} {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  // border-width:
  .b-w-none#{$breakpoint-step} {
    border-width: 0;
  }

  @include border-width-rules($border-widths) {
    .b-w#{$border-width-step}#{$breakpoint-step} {
      border-width: $border-width-val;
    }
  }

  // border-radius:
  .b-r-none#{$breakpoint-step} {
    border-radius: 0;
  }
  .b-r-circle#{$breakpoint-step} {
    border-radius: 100%;
  }
  .b-r-pill#{$breakpoint-step} {
    border-radius: 1000px;
  }

  @include border-width-rules($border-widths) {
    .b-r#{$border-width-step}#{$breakpoint-step} {
      border-radius: $border-width-val;
    }
  }

  // border-radius 'position':
  .b-r-top#{$breakpoint-step} {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .b-r-bottom#{$breakpoint-step} {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .b-r-right#{$breakpoint-step} {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-left#{$breakpoint-step} {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .b-r-top-right#{$breakpoint-step} {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-top-left#{$breakpoint-step} {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-bottom-right#{$breakpoint-step} {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .b-r-bottom-left#{$breakpoint-step} {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  // border-style:
  .b-st-none#{$breakpoint-step} {
    border-style: none;
  }
  .b-st-solid#{$breakpoint-step} {
    border-style: solid;
  }
  .b-st-dot#{$breakpoint-step} {
    border-style: dot;
  }
  .b-st-dash#{$breakpoint-step} {
    border-style: dash;
  }

  // border-color:
  .b-c-inherit#{$breakpoint-step} {
    border-color: inherit;
  }
  .hov-b-c-inherit#{$breakpoint-step}:hover {
    border-color: inherit;
  }

  @include color-rules($colors) {
    .b-c#{$color-name}#{$breakpoint-step} {
      border-color: $color-val;
    }
    .hov-b-c#{$color-name}#{$breakpoint-step}:hover {
      border-color: $color-val;
    }
  }
}
