// # Color
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  .c-inherit#{$breakpoint-mod} {
    color: inherit;
  }
  .hov-c-inherit#{$breakpoint-mod}:hover {
    color: inherit;
  }

  @include compose-map-rules($colors) {
    .c-#{$map-prop}#{$breakpoint-mod} {
      color: $map-val;
    }
    .hov-c-#{$map-prop}#{$breakpoint-mod}:hover {
      color: $map-val;
    }
  }
}
