// # Cursor
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  .cursor-auto#{$breakpoint-mod} {
    cursor: auto;
  }
  .cursor-none#{$breakpoint-mod} {
    cursor: none;
  }
  .cursor-default#{$breakpoint-mod} {
    cursor: default;
  }
  .cursor-pointer#{$breakpoint-mod} {
    cursor: pointer;
  }
  .cursor-grab#{$breakpoint-mod} {
    cursor: grab;
  }
}
