// # Fill
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  .fill-inherit#{$breakpoint-mod} {
    fill: inherit;
  }
  .hov-fill-inherit#{$breakpoint-mod}:hover {
    fill: inherit;
  }

  @include compose-map-rules($colors) {
    .fill-#{$map-prop}#{$breakpoint-mod} {
      fill: $map-val;
    }
    .hov-fill-#{$map-prop}#{$breakpoint-mod}:hover {
      fill: $map-val;
    }
  }
}
