// # Opacity
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  .op-transparent#{$breakpoint-mod} {
    opacity: 0;
  }
  .op-opaque#{$breakpoint-mod} {
    opacity: 1;
  }
  .hov-op-transparent#{$breakpoint-mod}:hover {
    opacity: 0;
  }
  .hov-op-opaque#{$breakpoint-mod}:hover {
    opacity: 1;
  }
  @include compose-mapped-rules($opacities) {
    .op-#{$map-prop}#{$breakpoint-mod} {
      opacity: $map-val;
    }
    .hov-op-#{$map-prop}#{$breakpoint-mod}:hover {
      opacity: $map-val;
    }
  }
}
