// # Transition
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  // transition-duration:
  .tx-normal--#{$breakpoint-mod} {
    transition-duration: map-get($transitions, "normal");
  }
  .tx-slow--#{$breakpoint-mod} {
    transition-duration: map-get($transitions, "slow");
  }
  .tx-fast--#{$breakpoint-mod} {
    transition-duration: map-get($transitions, "fast");
  }
}
