// # Font
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  // font-family:
  @include compose-mapped-rules($font-families) {
    .f-f-#{$map-prop}#{$breakpoint-mod} {
      font-family: $map-val;
    }
  }

  // font-size:
  @include compose-font-size-rules($font-sizes) {
    .f-s-#{$font-size-index}#{$breakpoint-mod} {
      font-size: $font-size-val;
    }
  }

  @if $custom-font-sizes != null {
    @include compose-mapped-rules($custom-font-sizes) {
      .f-s-#{$map-prop}#{$breakpoint-mod} {
        font-size: $map-val;
      }
    }
  }

  // font-weight:
  .f-w-1#{$breakpoint-mod} {
    font-weight: 100;
  }
  .f-w-2#{$breakpoint-mod} {
    font-weight: 200;
  }
  .f-w-3#{$breakpoint-mod} {
    font-weight: 300;
  }
  .f-w-4#{$breakpoint-mod} {
    font-weight: 400;
  }
  .f-w-5#{$breakpoint-mod} {
    font-weight: 500;
  }
  .f-w-6#{$breakpoint-mod} {
    font-weight: 600;
  }
  .f-w-7#{$breakpoint-mod} {
    font-weight: 700;
  }

  // font-style:
  .f-st-normal#{$breakpoint-mod} {
    font-style: normal;
  }
  .f-st-italic#{$breakpoint-mod} {
    font-style: italic;
  }

  // font-render:
  .f-r-auto#{$breakpoint-mod} {
    -webkit-font-smoothing: auto;
  }
  .f-r-smooth#{$breakpoint-mod} {
    -webkit-font-smoothing: antialiased;
  }
}
