// # Font
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  // font-family:
  @each $step, $val in $font-families {
    $font-family-name: "-" + $step;
    $font-family-val: unquote($val);
    .f-f#{$font-family-name}#{$breakpoint-mod} {
      font-family: $font-family-val;
    }
  }

  // font-size:
  // Custom font-sizes to meet project requirements.
  @if ($custom-font-sizes) {
    @each $step, $val in $font-sizes {
      $font-size-step: "-" + $step;
      $font-size-val: $val;
      .f-s#{$font-size-step}#{$breakpoint-mod} {
        font-size: $font-size-val;
      }
    }

    // Default: using scale config to generate font-sizes.
  } @else {
    $base: map-get($font-size-scale, base);
    $ratio: map-get($font-size-scale, ratio);
    $steps-up: map-get($font-size-scale, steps-up);
    $steps-down: map-get($font-size-scale, steps-down);

    $total-steps: $steps-up + $steps-down;
    $step: 1;
    $exponent: $steps-up - 1;

    @while $step <= $total-steps {
      $font-size-step: "-" + $step;
      $font-size-val: pow($ratio, $exponent) * $base;
      .f-s#{$font-size-step}#{$breakpoint-mod} {
        font-size: $font-size-val;
      }

      $step: $step + 1;
      $exponent: $exponent - 1;
    }
  }

  // font-weight:
  .f-w-1#{$breakpoint-mod} {
    font-weight: 100;
  }
  .f-w-2#{$breakpoint-mod} {
    font-weight: 200;
  }
  .f-w-3#{$breakpoint-mod} {
    font-weight: 300;
  }
  .f-w-4#{$breakpoint-mod} {
    font-weight: 400;
  }
  .f-w-5#{$breakpoint-mod} {
    font-weight: 500;
  }
  .f-w-6#{$breakpoint-mod} {
    font-weight: 600;
  }
  .f-w-7#{$breakpoint-mod} {
    font-weight: 700;
  }

  // font-style:
  .f-st-normal#{$breakpoint-mod} {
    font-style: normal;
  }
  .f-st-italic#{$breakpoint-mod} {
    font-style: italic;
  }

  // font-render:
  .f-r-auto#{$breakpoint-mod} {
    -webkit-font-smoothing: auto;
  }
  .f-r-smooth#{$breakpoint-mod} {
    -webkit-font-smoothing: antialiased;
  }
}
