// # Rule generators
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

// # Breakpoints
//
// @global:
// $breakpoint-step
////////////////////////////////////////
////////////////////////////////////////

// Core mixin, compose base rule with @media-query block if necessary.
@mixin breakpoint($map, $size) {
  @if $size == base {
    @content;

  } @else {
    @media (min-width: map-get($map, $size)) {
      @content;
    }
  }
}

// Constructs media-query rules with a map of breakpoints.
@mixin breakpoint-rules($map) {
  @for $i from 0 through length($map) {
    $size: base;
    // Undesirable, but expose mixin variables to the global scope
    // so @content can access them when composing rules.
    $breakpoint-step: '' !global;

    // Compose base rules with @media-query blocks.
    @if $i != 0 {
      $size: nth(map-keys($map), $i);
      $breakpoint-step: '--' + str-slice($size, 0, 1) !global;
    }

    @include breakpoint($map, $size) {
      @content;
    }
  }
}

// # Spacings
//
// @global:
// $spacing-step
// $spacing-val
////////////////////////////////////////
////////////////////////////////////////

// Calculate a spacing value from a scale step.
@function get-scale-spacing($base, $step, $ratio) {
  @return pow($ratio, $step - 1) * $base;
}

// Constructs spacing rules with a map of spacing values.
@mixin spacing-rules($custom, $custom-map, $scale-map) {
  // Undesirable, but expose mixin variables to the global scope
  // so @content can access them when composing rules.

  // Custom values from config.
  @if ($custom) {
    @each $step, $val in $custom-map {
      $spacing-step: '-' + $step !global;
      $spacing-val: $val !global;
      @content;
    }

  // Generate values with a scale.
  } @else {
    $base: map-get($scale-map, base);
    $ratio: map-get($scale-map, ratio);
    $steps: map-get($scale-map, steps);

    @for $step from 1 through $steps {
      $spacing-step: '-' + $step !global;
      $spacing-val: get-scale-spacing($base, $step, $ratio) !global;
      @content;
    }
  }
}

// # Columns
//
// @global:
// $column-index
// $column-width-val
////////////////////////////////////////
////////////////////////////////////////

// Constructs column rules with a count.
@mixin column-rules($count) {
  @for $i from 1 through $count {
    // Undesirable, but expose mixin variables to the global scope
    // so @content can access them when composing rules.
    $column-index: '-' + $i !global;
    $column-width-val: 100 / ($column-count / $i) + '%' !global;
    @content;
  }
}

// # Colors
//
// @global:
// $color-name
// $color-val
////////////////////////////////////////
////////////////////////////////////////

// Constructs color rules with a map of color values.
@mixin color-rules($map) {
  @each $name, $val in $map {
    // Undesirable, but expose mixin variables to the global scope
    // so @content can access them when composing rules.
    $color-name: '-' + $name !global;
    $color-val: $val !global;
    @content;
  }
}

// # Borders
//
// @global:
// $border-width-step
// $border-width-val
////////////////////////////////////////
////////////////////////////////////////

// Constructs border-width rules with a map of border-width values.
@mixin border-width-rules($map) {
  @each $step, $val in $map {
    // Undesirable, but expose mixin variables to the global scope
    // so @content can access them when composing rules.
    $border-width-step: '-' + $step !global;
    $border-width-val: $val !global;
    @content;
  }
}
