// # Display
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include breakpoint-rules($breakpoints) {
  .d-none#{$breakpoint-step} { display: none; }
  .d-inline#{$breakpoint-step} { display: inline; }
  .d-i-block#{$breakpoint-step} { display: inline-block; }
  .d-block#{$breakpoint-step} { display: block; }
  .d-flex#{$breakpoint-step} { display: flex; }
  .d-table#{$breakpoint-step} { display: table; }
  .d-i-table#{$breakpoint-step} { display: inline-table; }
  .d-t-cell#{$breakpoint-step} { display: table-cell; }
  .d-t-row#{$breakpoint-step} { display: table-row; }
  .d-t-row-grp#{$breakpoint-step} { display: table-row-group; }
  .d-t-col#{$breakpoint-step} { display: table-column; }
  .d-t-col-grp#{$breakpoint-step} { display: table-column-group; }
}
