// # Flex
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include breakpoint-rules($breakpoints) {
  // # Container
  ////////////////////////////////////////
  ////////////////////////////////////////

  // flex-wrap:
  .flex-wrap-nowrap#{$breakpoint-step} { flex-wrap: nowrap; }
  .flex-wrap-wrap#{$breakpoint-step} { flex-wrap: wrap; }
  .flex-wrap-reverse#{$breakpoint-step} { flex-wrap: wrap-reverse; }

  // flex-direction:
  .flex-dir-row#{$breakpoint-step} { flex-direction: row; }
  .flex-dir-row-reverse#{$breakpoint-step} { flex-direction: row-reverse; }
  .flex-dir-col#{$breakpoint-step} { flex-direction: column; }
  .flex-dir-col-reverse#{$breakpoint-step} { flex-direction: column-reverse; }

  // justify-content:
  .justify-ct-start#{$breakpoint-step} { justify-content: flex-start; }
  .justify-ct-end#{$breakpoint-step} { justify-content: flex-end; }
  .justify-ct-center#{$breakpoint-step} { justify-content: center; }
  .justify-ct-space-btw#{$breakpoint-step} { justify-content: space-between; }
  .justify-ct-space-ard#{$breakpoint-step} { justify-content: space-around; }

  // align-content:
  .align-ct-start#{$breakpoint-step} { align-content: flex-start; }
  .align-ct-end#{$breakpoint-step} { align-content: flex-end; }
  .align-ct-center#{$breakpoint-step} { align-content: center; }
  .align-ct-stretch#{$breakpoint-step} { align-content: stretch; }
  .align-ct-space-btw#{$breakpoint-step} { align-content: space-between; }
  .align-ct-space-ard#{$breakpoint-step} { align-content: space-around; }

  // align-items:
  .align-i-start#{$breakpoint-step} { align-items: flex-start; }
  .align-i-end#{$breakpoint-step} { align-items: flex-end; }
  .align-i-center#{$breakpoint-step} { align-items: center; }
  .align-i-stretch#{$breakpoint-step} { align-items: stretch; }
  .align-i-baseline#{$breakpoint-step} { align-items: baseline; }

  // # Item
  ////////////////////////////////////////
  ////////////////////////////////////////
  // align-self:
  .align-auto#{$breakpoint-step} { align-self: auto; }
  .align-start#{$breakpoint-step} { align-self: flex-start; }
  .align-end#{$breakpoint-step} { align-self: flex-end; }
  .align-center#{$breakpoint-step} { align-self: center; }
  .align-stretch#{$breakpoint-step} { align-self: stretch; }
  .align-baseline#{$breakpoint-step} { align-self: baseline; }

  // order
  .order-initial#{$breakpoint-step} { order: initial; }
  .order-first#{$breakpoint-step} { order: 0; }
  .order-last#{$breakpoint-step} { order: 99; }

  @for $i from 1 through $column-count {
    $column-index: '-' + $i;
    .order#{$column-index} { order: $i; }
  }
}
