// # Horizontal align
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include breakpoint-rules($breakpoints) {
  .ha-right#{$breakpoint-step} { margin-right: 0; margin-left: auto; }
  .ha-left#{$breakpoint-step} { margin-right: auto; margin-left: 0; }
  .ha-center#{$breakpoint-step} { margin-right: auto; margin-left: auto; }
}
