// # Spacing
// Margins and paddings.
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include breakpoint-rules($breakpoints) {
  // margin:
  .m-top-0#{$breakpoint-step} {
    margin-top: 0;
  }
  .m-bottom-0#{$breakpoint-step} {
    margin-bottom: 0;
  }
  .m-right-0#{$breakpoint-step} {
    margin-right: 0;
  }
  .m-left-0#{$breakpoint-step} {
    margin-left: 0;
  }
  .m-ver-0#{$breakpoint-step} {
    margin-top: 0;
    margin-bottom: 0;
  }
  .m-hor-0#{$breakpoint-step} {
    margin-right: 0;
    margin-left: 0;
  }
  .m-all-0#{$breakpoint-step} {
    margin: 0;
  }

  // padding:
  .p-top-0#{$breakpoint-step} {
    padding-top: 0;
  }
  .p-bottom-0#{$breakpoint-step} {
    padding-bottom: 0;
  }
  .p-right-0#{$breakpoint-step} {
    padding-right: 0;
  }
  .p-left-0#{$breakpoint-step} {
    padding-left: 0;
  }
  .p-ver-0#{$breakpoint-step} {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-hor-0#{$breakpoint-step} {
    padding-right: 0;
    padding-left: 0;
  }
  .p-all-0#{$breakpoint-step} {
    padding: 0;
  }

  @include spacing-rules($custom-spacings, $spacings, $spacing-scale) {
    // margin:
    .m-top#{$spacing-step}#{$breakpoint-step} {
      margin-top: $spacing-val;
    }
    .m-bottom#{$spacing-step}#{$breakpoint-step} {
      margin-bottom: $spacing-val;
    }
    .m-right#{$spacing-step}#{$breakpoint-step} {
      margin-right: $spacing-val;
    }
    .m-left#{$spacing-step}#{$breakpoint-step} {
      margin-left: $spacing-val;
    }
    .m-ver#{$spacing-step}#{$breakpoint-step} {
      margin-top: $spacing-val;
      margin-bottom: $spacing-val;
    }
    .m-hor#{$spacing-step}#{$breakpoint-step} {
      margin-right: $spacing-val;
      margin-left: $spacing-val;
    }
    .m-all#{$spacing-step}#{$breakpoint-step} {
      margin: $spacing-val;
    }

    // margin (negative):
    .m-top#{$spacing-step}n#{$breakpoint-step} {
      margin-top: -$spacing-val;
    }
    .m-bottom#{$spacing-step}n#{$breakpoint-step} {
      margin-bottom: -$spacing-val;
    }
    .m-right#{$spacing-step}n#{$breakpoint-step} {
      margin-right: -$spacing-val;
    }
    .m-left#{$spacing-step}n#{$breakpoint-step} {
      margin-left: -$spacing-val;
    }
    .m-ver#{$spacing-step}n#{$breakpoint-step} {
      margin-top: -$spacing-val;
      margin-bottom: -$spacing-val;
    }
    .m-hor#{$spacing-step}n#{$breakpoint-step} {
      margin-right: -$spacing-val;
      margin-left: -$spacing-val;
    }
    .m-all#{$spacing-step}n#{$breakpoint-step} {
      margin: -$spacing-val;
    }

    // padding:
    .p-top#{$spacing-step}#{$breakpoint-step} {
      padding-top: $spacing-val;
    }
    .p-bottom#{$spacing-step}#{$breakpoint-step} {
      padding-bottom: $spacing-val;
    }
    .p-right#{$spacing-step}#{$breakpoint-step} {
      padding-right: $spacing-val;
    }
    .p-left#{$spacing-step}#{$breakpoint-step} {
      padding-left: $spacing-val;
    }
    .p-ver#{$spacing-step}#{$breakpoint-step} {
      padding-top: $spacing-val;
      padding-bottom: $spacing-val;
    }
    .p-hor#{$spacing-step}#{$breakpoint-step} {
      padding-right: $spacing-val;
      padding-left: $spacing-val;
    }
    .p-all#{$spacing-step}#{$breakpoint-step} {
      padding: $spacing-val;
    }
  }
}
