// # Vertical align
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include breakpoint-rules($breakpoints) {
  .va-top#{$breakpoint-step} { vertical-align: top; }
  .va-middle#{$breakpoint-step} { vertical-align: middle; }
  .va-bottom#{$breakpoint-step} { vertical-align: bottom; }
  .va-text-top#{$breakpoint-step} { vertical-align: text-top; }
  .va-text-bottom#{$breakpoint-step} { vertical-align: text-bottom; }
  .va-sub#{$breakpoint-step} { vertical-align: sub; }
  .va-super#{$breakpoint-step} { vertical-align: super; }
  .va-baseline#{$breakpoint-step} { vertical-align: baseline; }
}
