@include make-responsive-rulesets(
  (
    (
      "selector": ".l-h-copy",
      "declarations": (
        line-height: map-get($line-heights, "copy"),
      )
    ),
    (
      "selector": ".l-h-title",
      "declarations": (
        line-height: map-get($line-heights, "title"),
      )
    ),
    (
      "selector": ".l-h-solid",
      "declarations": (
        line-height: map-get($line-heights, "solid"),
      )
    )
  ),
  $screen-sizes
);
