@include make-responsive-rulesets(
  (
    (
      "selector": ".l-m-none",
      "declarations": (
        max-width: 100%,
      )
    ),
    (
      "selector": ".l-m-base",
      "declarations": (
        max-width: map-get($line-measures, "base"),
      )
    ),
    (
      "selector": ".l-m-narrow",
      "declarations": (
        max-width: map-get($line-measures, "narrow"),
      )
    ),
    (
      "selector": ".l-m-wide",
      "declarations": (
        max-width: map-get($line-measures, "wide"),
      )
    )
  ),
  $screen-sizes
);
