@include make-responsive-rulesets(
  (
    (
      "selector": ".t-a-left",
      "declarations": (
        text-align: left,
      )
    ),
    (
      "selector": ".t-a-center",
      "declarations": (
        text-align: center,
      )
    ),
    (
      "selector": ".t-a-right",
      "declarations": (
        text-align: right,
      )
    )
  ),
  $screen-sizes
);
