@include make-responsive-rulesets(
  (
    (
      "selector": ".t-t-none",
      "declarations": (
        text-transform: none,
      )
    ),
    (
      "selector": ".t-t-upper",
      "declarations": (
        text-transform: uppercase,
      )
    ),
    (
      "selector": ".t-t-lower",
      "declarations": (
        text-transform: lowercase,
      )
    ),
    (
      "selector": ".t-t-cap",
      "declarations": (
        text-transform: capitalize,
      )
    )
  ),
  $screen-sizes
);
