$text-indent-RSON: make-RSON($margins, ".t-i", "text-indent");
$global-text-indent-RSON: (
  (
    "selector": ".t-i-100",
    "declarations": (
      text-indent: 100%,
    ),
  )
);
$full-text-indent-RSON: concat-lists(
  $text-indent-RSON,
  $global-text-indent-RSON
);
@include make-responsive-rulesets($full-text-indent-RSON, $screen-sizes);
