$bg-color-RSON: make-RSON($colors, ".bg-c", "background-color");
$bg-color-hover-RSON: make-RSON(
  $colors,
  ".hov-bg-c",
  "background-color",
  ":hover"
);
$full-bg-color-RSON: concat-lists($bg-color-RSON, $bg-color-hover-RSON);
@include make-responsive-rulesets($full-bg-color-RSON, $screen-sizes);
