@include make-responsive-rulesets(
  (
    (
      "selector": ".b-sy-none",
      "declarations": (
        border-style: none,
      )
    ),
    (
      "selector": ".b-sy-solid",
      "declarations": (
        border-style: solid,
      )
    ),
    (
      "selector": ".b-sy-dot",
      "declarations": (
        border-style: dotted,
      )
    ),
    (
      "selector": ".b-sy-dash",
      "declarations": (
        border-style: dashed,
      )
    )
  ),
  $screen-sizes
);
