@include make-responsive-rulesets(
  (
    (
      "selector": ".cs-none",
      "declarations": (
        cursor: none,
      )
    ),
    (
      "selector": ".cs-auto",
      "declarations": (
        cursor: auto,
      )
    ),
    (
      "selector": ".cs-default",
      "declarations": (
        cursor: default,
      )
    ),
    (
      "selector": ".cs-pointer",
      "declarations": (
        cursor: pointer,
      )
    ),
    (
      "selector": ".cs-text",
      "declarations": (
        cursor: text,
      )
    )
  ),
  $screen-sizes
);
