$fill-RSON: make-RSON($colors, ".fil", "fill");
$fill-hover-RSON: make-RSON($colors, ".hov-fil", "fill", ":hover");
$full-fill-RSON: concat-lists($fill-RSON, $fill-hover-RSON);
@include make-responsive-rulesets($full-fill-RSON, $screen-sizes);
