// Container
$screen-sizes: (
  "s": rem(640),
  "m": rem(960),
  "l": rem(1280),
);

$wraps: (
  "s": rem(640),
  "m": rem(960),
  "l": rem(1280),
);

$grids: 12;

// Positioning
$z-indexes: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "100": 100,
);
$moves: (
  "0": 0,
  "1": rem(16),
  "2": rem(32),
);

// Spacing
$margins: (
  "0": 0,
  "1": rem(4),
  "2": rem(8),
  "3": rem(16),
  "4": rem(32),
  "5": rem(64),
  "6": rem(128),
  "7": rem(256),
);

$paddings: (
  "0": 0,
  "1": rem(4),
  "2": rem(8),
  "3": rem(16),
  "4": rem(32),
  "5": rem(64),
  "6": rem(128),
  "7": rem(256),
);
