// container
$screen-sizes: (
  "s": 40rem,
  "m": 60rem,
  "l": 80rem,
);

$wraps: (
  "s": 40rem,
  "m": 60rem,
  "l": 80rem,
);

$grids: 12;

// positioning
$z-indexes: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "100": 100,
);
$moves: (
  "0": 0,
  "1": 1rem,
  "2": 2rem,
);

// spacing
$margins: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 1rem,
  "4": 2rem,
  "5": 4rem,
  "6": 8rem,
  "7": 16rem,
);

$paddings: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 1rem,
  "4": 2rem,
  "5": 4rem,
  "6": 8rem,
  "7": 16rem,
);
