// Container
$screen-sizes: (
  "s": rem(640),
  "m": rem(960),
  "l": rem(1280),
);

$wraps: (
  "s": rem(640),
  "m": rem(960),
  "l": rem(1280),
);

$grids: 12;

// Positioning
$z-indexes: (
  "0": 0,
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "5": 5,
  "100": 100,
);

$moves: (
  "0": 0,
  "1": rem(4),
  "2": rem(8),
  "3": rem(16),
  "4": rem(24),
  "5": rem(32),
  "6": rem(40),
  "7": rem(48),
  "8": rem(56),
  "9": rem(64),
  "10": rem(72),
  "11": rem(80),
  "100": 100%,
);

// Spacing
$margins: (
  "0": 0,
  "1": rem(4),
  "2": rem(8),
  "3": rem(16),
  "4": rem(24),
  "5": rem(32),
  "6": rem(40),
  "7": rem(48),
  "8": rem(56),
  "9": rem(64),
  "10": rem(72),
  "11": rem(80),
);

$paddings: (
  "0": 0,
  "1": rem(4),
  "2": rem(8),
  "3": rem(16),
  "4": rem(24),
  "5": rem(32),
  "6": rem(40),
  "7": rem(48),
  "8": rem(56),
  "9": rem(64),
  "10": rem(72),
  "11": rem(80),
);
