// Color
$project-colors: ();

$neutral-colors: (
  "black": #000,
  "near-black": #232323,
  "dark-grey": #333,
  "mid-grey": #555,
  "grey": #777,
  "silver": #999,
  "light-silver": #aaa,
  "moon-grey": #ccc,
  "light-grey": #eee,
  "near-white": #f3f3f3,
  "white": #fff,
);

$notification-colors: (
  "dark-red": #e7040f,
  "red": #ff4136,
  "light-red": #ff725c,
  "dark-green": #137752,
  "green": #19a974,
  "light-green": #9eebcf,
);

$colors: concat-maps($project-colors, $neutral-colors, $notification-colors);

// Border
$border-widths: (
  "0": 0,
  "1": rem(1),
  "2": rem(2),
  "3": rem(4),
  "4": rem(8),
  "5": rem(16),
  "6": rem(24),
  "7": rem(32),
);

$border-radii: (
  "0": 0,
  "1": rem(1),
  "2": rem(2),
  "3": rem(4),
  "4": rem(8),
  "5": rem(16),
  "6": rem(24),
  "7": rem(32),
);

// Opacity
$opacities: (
  "0": 0,
  "1": 0.15,
  "2": 0.6,
  "3": 0.85,
  "4": 1,
);

// Transition
$transition-durations: (
  "0": 0,
  "1": 0.15s,
  "2": 0.35s,
  "3": 0.85s,
);
