// font
$base-font-size: 16px;
$font-families: (
  "helvetica": "helvetica neue, helvetica, sans-serif",
);
$type-scale: (
  "1": 3rem,
  "2": 2.25rem,
  "3": 1.5rem,
  "4": 1.25rem,
  "5": 1rem,
  "6": 0.875rem,
);
// line
$line-measures: (
  "base": 30em,
  "narrow": 20em,
  "wide": 34em,
);
$line-heights: (
  "copy": 1.45,
  "title": 1.25,
  "solid": 1,
);
$line-trackings: (
  "base": 0.05em,
  "tight": -0.5em,
  "wide": 0.25em,
);
