// # Rule generators
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

// # Breakpoints
// Takes in a `Map` param of breakpoints,
// then generates breakpoint wrappers
// and exposes (to the global scope) variables to @content
//
// @global-vars:
// $breakpoint-mod
////////////////////////////////////////
////////////////////////////////////////

@mixin breakpoint($map, $size) {
  @if $size == base {
    @content;
  } @else {
    @media (min-width: map-get($map, $size)) {
      @content;
    }
  }
}

@mixin compose-breakpoint-rules($map) {
  @for $i from 0 through length($map) {
    $size: base;
    $breakpoint-mod: "" !global;

    // Compose base rules with @media-query blocks.
    @if $i != 0 {
      $size: nth(map-keys($map), $i);
      $breakpoint-mod: "--" + str-slice($size, 0, 1) !global;
    }

    @include breakpoint($map, $size) {
      @content;
    }
  }
}

// # Index
// Takes in a `Map` param of options,
// then generates and exposes (to the global scope) variables to @content
//
// @global-vars:
// $index-count
// $index-val
////////////////////////////////////////
////////////////////////////////////////

// Helper function to determine next value in index
@function index-val($base-val, $count, $ratio) {
  @return pow($ratio, $count - 1) * $base-val;
}

@mixin compose-index-rules($map) {
  $base-val: map-get($map, base-val);
  $ratio: map-get($map, ratio);
  $counts: map-get($map, counts);

  @for $count from 1 through $counts {
    $index-count: $count !global;
    $index-val: index-val($base-val, $count, $ratio) !global;
    @content;
  }
}

// # Columns
// Takes in a `counts` int,
// then generates and exposes (to the global scope) variables to @content
//
// @global-vars:
// $column-count
// $column-width-val
////////////////////////////////////////
////////////////////////////////////////

@mixin compose-column-rules($counts) {
  @for $count from 1 through $counts {
    $column-count: $count !global;
    $column-width-val: 100 / ($counts / $count) + "%" !global;
    @content;
  }
}

// # Colors
//
// @global:
// $color-name
// $color-val
////////////////////////////////////////
////////////////////////////////////////

// Constructs color rules with a map of color values.
@mixin color-rules($map) {
  @each $name, $val in $map {
    // Undesirable, but expose mixin variables to the global scope
    // so @content can access them when composing rules.
    $color-name: "-" + $name !global;
    $color-val: $val !global;
    @content;
  }
}

// # Borders
//
// @global:
// $border-width-step
// $border-width-val
////////////////////////////////////////
////////////////////////////////////////

// Constructs border-width rules with a map of border-width values.
@mixin border-width-rules($map) {
  @each $step, $val in $map {
    // Undesirable, but expose mixin variables to the global scope
    // so @content can access them when composing rules.
    $border-width-step: "-" + $step !global;
    $border-width-val: $val !global;
    @content;
  }
}
