// # Flex
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  // # Container
  ////////////////////////////////////////
  ////////////////////////////////////////

  // flex-wrap:
  .flex-wrap-nowrap#{$breakpoint-mod} {
    flex-wrap: nowrap;
  }
  .flex-wrap-wrap#{$breakpoint-mod} {
    flex-wrap: wrap;
  }
  .flex-wrap-reverse#{$breakpoint-mod} {
    flex-wrap: wrap-reverse;
  }

  // flex-direction:
  .flex-dir-row#{$breakpoint-mod} {
    flex-direction: row;
  }
  .flex-dir-row-reverse#{$breakpoint-mod} {
    flex-direction: row-reverse;
  }
  .flex-dir-col#{$breakpoint-mod} {
    flex-direction: column;
  }
  .flex-dir-col-reverse#{$breakpoint-mod} {
    flex-direction: column-reverse;
  }

  // justify-content:
  .justify-ct-start#{$breakpoint-mod} {
    justify-content: flex-start;
  }
  .justify-ct-end#{$breakpoint-mod} {
    justify-content: flex-end;
  }
  .justify-ct-center#{$breakpoint-mod} {
    justify-content: center;
  }
  .justify-ct-space-btw#{$breakpoint-mod} {
    justify-content: space-between;
  }
  .justify-ct-space-ard#{$breakpoint-mod} {
    justify-content: space-around;
  }

  // align-content:
  .align-ct-start#{$breakpoint-mod} {
    align-content: flex-start;
  }
  .align-ct-end#{$breakpoint-mod} {
    align-content: flex-end;
  }
  .align-ct-center#{$breakpoint-mod} {
    align-content: center;
  }
  .align-ct-stretch#{$breakpoint-mod} {
    align-content: stretch;
  }
  .align-ct-space-btw#{$breakpoint-mod} {
    align-content: space-between;
  }
  .align-ct-space-ard#{$breakpoint-mod} {
    align-content: space-around;
  }

  // align-items:
  .align-i-start#{$breakpoint-mod} {
    align-items: flex-start;
  }
  .align-i-end#{$breakpoint-mod} {
    align-items: flex-end;
  }
  .align-i-center#{$breakpoint-mod} {
    align-items: center;
  }
  .align-i-stretch#{$breakpoint-mod} {
    align-items: stretch;
  }
  .align-i-baseline#{$breakpoint-mod} {
    align-items: baseline;
  }

  // # Item
  ////////////////////////////////////////
  ////////////////////////////////////////
  // align-self:
  .align-auto#{$breakpoint-mod} {
    align-self: auto;
  }
  .align-start#{$breakpoint-mod} {
    align-self: flex-start;
  }
  .align-end#{$breakpoint-mod} {
    align-self: flex-end;
  }
  .align-center#{$breakpoint-mod} {
    align-self: center;
  }
  .align-stretch#{$breakpoint-mod} {
    align-self: stretch;
  }
  .align-baseline#{$breakpoint-mod} {
    align-self: baseline;
  }

  // order
  .order-initial#{$breakpoint-mod} {
    order: initial;
  }
  .order-first#{$breakpoint-mod} {
    order: 0;
  }
  .order-last#{$breakpoint-mod} {
    order: 99;
  }

  @include compose-column-rules($column-count) {
    .order-#{$column-index}#{$breakpoint-mod} {
      order: $column-index;
    }
  }
}
