// # Flex grid
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  @include column-rules($column-count) {
    $column-grid: "-" + $column-count;
    .fg-#{$column-grid}#{$column-index}--#{$breakpoint-mod} {
      flex-basis: $column-width-val;
      max-width: $column-width-val;
    }
  }
}
