// # Overflow
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  // overflow:
  .of-auto--#{$breakpoint-mod} {
    overflow: auto;
  }
  .of-visible--#{$breakpoint-mod} {
    overflow: visible;
  }
  .of-hidden--#{$breakpoint-mod} {
    overflow: hidden;
  }
  .of-scroll--#{$breakpoint-mod} {
    overflow: scroll;
  }

  // overflow-x:
  .of-x-auto--#{$breakpoint-mod} {
    overflow-x: auto;
  }
  .of-x-visible--#{$breakpoint-mod} {
    overflow-x: visible;
  }
  .of-x-hidden--#{$breakpoint-mod} {
    overflow-x: hidden;
  }
  .of-x-scroll--#{$breakpoint-mod} {
    overflow-x: scroll;
  }

  // overflow-y:
  .of-y-auto--#{$breakpoint-mod} {
    overflow-y: auto;
  }
  .of-y-visible--#{$breakpoint-mod} {
    overflow-y: visible;
  }
  .of-y-hidden--#{$breakpoint-mod} {
    overflow-y: hidden;
  }
  .of-y-scroll--#{$breakpoint-mod} {
    overflow-y: scroll;
  }
}
