// Position


@include compose-breakpoint-rules($breakpoints) {
  // position:
  .pos-static#{$breakpoint-mod} {
    position: static;
  }
  .pos-fixed#{$breakpoint-mod} {
    position: fixed;
  }
  .pos-relative#{$breakpoint-mod} {
    position: relative;
  }
  .pos-absolute#{$breakpoint-mod} {
    position: absolute;
  }
  // *translate:
  .top-0#{$breakpoint-mod} {
    top: 0;
  }
  .bottom-0#{$breakpoint-mod} {
    bottom: 0;
  }
  .right-0#{$breakpoint-mod} {
    right: 0;
  }
  .left-0#{$breakpoint-mod} {
    left: 0;
  }
  @include compose-stepped-rules($spacings) {
    .top-#{$step-index}#{$breakpoint-mod} {
      top: $step-val;
    }
    .top-n#{$step-index}#{$breakpoint-mod} {
      top: -$step-val;
    }
    .bottom-#{$step-index}#{$breakpoint-mod} {
      bottom: $step-val;
    }
    .bottom-n#{$step-index}#{$breakpoint-mod} {
      bottom: -$step-val;
    }
    .right-#{$step-index}#{$breakpoint-mod} {
      right: $step-val;
    }
    .right-n#{$step-index}#{$breakpoint-mod} {
      right: -$step-val;
    }
    .left-#{$step-index}#{$breakpoint-mod} {
      left: $step-val;
    }
    .left-n#{$step-index}#{$breakpoint-mod} {
      left: -$step-val;
    }
  }
}
