// # Spacing
// Margins and paddings.
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include breakpoint-rules($breakpoints) {
  // margin:
  .m-top-0#{$breakpoint-step} {
    margin-top: 0;
  }
  .m-bottom-0#{$breakpoint-step} {
    margin-bottom: 0;
  }
  .m-right-0#{$breakpoint-step} {
    margin-right: 0;
  }
  .m-left-0#{$breakpoint-step} {
    margin-left: 0;
  }
  .m-ver-0#{$breakpoint-step} {
    margin-top: 0;
    margin-bottom: 0;
  }
  .m-hor-0#{$breakpoint-step} {
    margin-right: 0;
    margin-left: 0;
  }
  .m-all-0#{$breakpoint-step} {
    margin: 0;
  }

  // padding:
  .p-top-0#{$breakpoint-step} {
    padding-top: 0;
  }
  .p-bottom-0#{$breakpoint-step} {
    padding-bottom: 0;
  }
  .p-right-0#{$breakpoint-step} {
    padding-right: 0;
  }
  .p-left-0#{$breakpoint-step} {
    padding-left: 0;
  }
  .p-ver-0#{$breakpoint-step} {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-hor-0#{$breakpoint-step} {
    padding-right: 0;
    padding-left: 0;
  }
  .p-all-0#{$breakpoint-step} {
    padding: 0;
  }

  @include compose-index-rules($spacings-map) {
    // margins:
    .m-top-#{$index-mod}#{$breakpoint-step} {
      margin-top: $index-val;
    }
    .m-top-n#{$index-mod}#{$breakpoint-step} {
      margin-top: -$index-val;
    }
    .m-bottom-#{$index-mod}#{$breakpoint-step} {
      margin-bottom: $index-val;
    }
    .m-bottom-n#{$index-mod}#{$breakpoint-step} {
      margin-bottom: -$index-val;
    }
    .m-right-#{$index-mod}#{$breakpoint-step} {
      margin-right: $index-val;
    }
    .m-right-n#{$index-mod}#{$breakpoint-step} {
      margin-right: -$index-val;
    }
    .m-left-#{$index-mod}#{$breakpoint-step} {
      margin-left: $index-val;
    }
    .m-left-n#{$index-mod}#{$breakpoint-step} {
      margin-left: -$index-val;
    }
    .m-ver-#{$index-mod}#{$breakpoint-step} {
      margin-top: $index-val;
      margin-bottom: $index-val;
    }
    .m-ver-n#{$index-mod}#{$breakpoint-step} {
      margin-top: -$index-val;
      margin-bottom: -$index-val;
    }
    .m-hor-#{$index-mod}#{$breakpoint-step} {
      margin-right: $index-val;
      margin-left: $index-val;
    }
    .m-hor-n#{$index-mod}#{$breakpoint-step} {
      margin-right: -$index-val;
      margin-left: -$index-val;
    }
    .m-all-#{$index-mod}#{$breakpoint-step} {
      margin: $index-val;
    }
    .m-all-n#{$index-mod}#{$breakpoint-step} {
      margin: -$index-val;
    }

    // paddings:
    .p-top-#{$index-mod}#{$breakpoint-step} {
      padding-top: $index-val;
    }
    .p-bottom-#{$index-mod}#{$breakpoint-step} {
      padding-bottom: $index-val;
    }
    .p-right-#{$index-mod}#{$breakpoint-step} {
      padding-right: $index-val;
    }
    .p-left-#{$index-mod}#{$breakpoint-step} {
      padding-left: $index-val;
    }
    .p-ver-#{$index-mod}#{$breakpoint-step} {
      padding-top: $index-val;
      padding-bottom: $index-val;
    }
    .p-hor-#{$index-mod}#{$breakpoint-step} {
      padding-right: $index-val;
      padding-left: $index-val;
    }
    .p-all-#{$index-mod}#{$breakpoint-step} {
      padding: $index-val;
    }
  }
}
