// Spacing
// Margins and paddings.


@include compose-breakpoint-rules($breakpoints) {
  // margin:
  .m-top-0#{$breakpoint-mod} {
    margin-top: 0;
  }
  .m-bottom-0#{$breakpoint-mod} {
    margin-bottom: 0;
  }
  .m-right-0#{$breakpoint-mod} {
    margin-right: 0;
  }
  .m-left-0#{$breakpoint-mod} {
    margin-left: 0;
  }
  .m-ver-0#{$breakpoint-mod} {
    margin-top: 0;
    margin-bottom: 0;
  }
  .m-hor-0#{$breakpoint-mod} {
    margin-right: 0;
    margin-left: 0;
  }
  .m-all-0#{$breakpoint-mod} {
    margin: 0;
  }
  // padding:
  .p-top-0#{$breakpoint-mod} {
    padding-top: 0;
  }
  .p-bottom-0#{$breakpoint-mod} {
    padding-bottom: 0;
  }
  .p-right-0#{$breakpoint-mod} {
    padding-right: 0;
  }
  .p-left-0#{$breakpoint-mod} {
    padding-left: 0;
  }
  .p-ver-0#{$breakpoint-mod} {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-hor-0#{$breakpoint-mod} {
    padding-right: 0;
    padding-left: 0;
  }
  .p-all-0#{$breakpoint-mod} {
    padding: 0;
  }
  @include compose-stepped-rules($spacings) {
    // margins:
    .m-top-#{$step-index}#{$breakpoint-mod} {
      margin-top: $step-val;
    }
    .m-top-n#{$step-index}#{$breakpoint-mod} {
      margin-top: -$step-val;
    }
    .m-bottom-#{$step-index}#{$breakpoint-mod} {
      margin-bottom: $step-val;
    }
    .m-bottom-n#{$step-index}#{$breakpoint-mod} {
      margin-bottom: -$step-val;
    }
    .m-right-#{$step-index}#{$breakpoint-mod} {
      margin-right: $step-val;
    }
    .m-right-n#{$step-index}#{$breakpoint-mod} {
      margin-right: -$step-val;
    }
    .m-left-#{$step-index}#{$breakpoint-mod} {
      margin-left: $step-val;
    }
    .m-left-n#{$step-index}#{$breakpoint-mod} {
      margin-left: -$step-val;
    }
    .m-ver-#{$step-index}#{$breakpoint-mod} {
      margin-top: $step-val;
      margin-bottom: $step-val;
    }
    .m-ver-n#{$step-index}#{$breakpoint-mod} {
      margin-top: -$step-val;
      margin-bottom: -$step-val;
    }
    .m-hor-#{$step-index}#{$breakpoint-mod} {
      margin-right: $step-val;
      margin-left: $step-val;
    }
    .m-hor-n#{$step-index}#{$breakpoint-mod} {
      margin-right: -$step-val;
      margin-left: -$step-val;
    }
    .m-all-#{$step-index}#{$breakpoint-mod} {
      margin: $step-val;
    }
    .m-all-n#{$step-index}#{$breakpoint-mod} {
      margin: -$step-val;
    }
    // paddings:
    .p-top-#{$step-index}#{$breakpoint-mod} {
      padding-top: $step-val;
    }
    .p-bottom-#{$step-index}#{$breakpoint-mod} {
      padding-bottom: $step-val;
    }
    .p-right-#{$step-index}#{$breakpoint-mod} {
      padding-right: $step-val;
    }
    .p-left-#{$step-index}#{$breakpoint-mod} {
      padding-left: $step-val;
    }
    .p-ver-#{$step-index}#{$breakpoint-mod} {
      padding-top: $step-val;
      padding-bottom: $step-val;
    }
    .p-hor-#{$step-index}#{$breakpoint-mod} {
      padding-right: $step-val;
      padding-left: $step-val;
    }
    .p-all-#{$step-index}#{$breakpoint-mod} {
      padding: $step-val;
    }
  }
}
