// # Visibility
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  .vis-visible--#{$breakpoint-mod} {
    visibility: visible;
  }
  .vis-hidden--#{$breakpoint-mod} {
    visibility: hidden;
  }
  .vis-collapse--#{$breakpoint-mod} {
    visibility: collapse;
  }
}
