// # Width
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  // width:
  .w-auto--#{$breakpoint-mod} {
    width: auto;
  }
  .w-10--#{$breakpoint-mod} {
    width: 10%;
  }
  .w-20--#{$breakpoint-mod} {
    width: 20%;
  }
  .w-25--#{$breakpoint-mod} {
    width: 25%;
  }
  .w-30--#{$breakpoint-mod} {
    width: 30%;
  }
  .w-40--#{$breakpoint-mod} {
    width: 40%;
  }
  .w-50--#{$breakpoint-mod} {
    width: 50%;
  }
  .w-60--#{$breakpoint-mod} {
    width: 60%;
  }
  .w-70--#{$breakpoint-mod} {
    width: 70%;
  }
  .w-75--#{$breakpoint-mod} {
    width: 75%;
  }
  .w-80--#{$breakpoint-mod} {
    width: 80%;
  }
  .w-90--#{$breakpoint-mod} {
    width: 90%;
  }
  .w-100--#{$breakpoint-mod} {
    width: 100%;
  }
  .w-third--#{$breakpoint-mod} {
    width: 1 / 3 * 100%;
  }
  .w-two-thirds--#{$breakpoint-mod} {
    width: 2 / 3 * 100%;
  }

  // min-width:
  .w-min-auto--#{$breakpoint-mod} {
    min-width: auto;
  }
  .w-min-10--#{$breakpoint-mod} {
    min-width: 10%;
  }
  .w-min-20--#{$breakpoint-mod} {
    min-width: 20%;
  }
  .w-min-25--#{$breakpoint-mod} {
    min-width: 25%;
  }
  .w-min-30--#{$breakpoint-mod} {
    min-width: 30%;
  }
  .w-min-40--#{$breakpoint-mod} {
    min-width: 40%;
  }
  .w-min-50--#{$breakpoint-mod} {
    min-width: 50%;
  }
  .w-min-60--#{$breakpoint-mod} {
    min-width: 60%;
  }
  .w-min-70--#{$breakpoint-mod} {
    min-width: 70%;
  }
  .w-min-75--#{$breakpoint-mod} {
    min-width: 75%;
  }
  .w-min-80--#{$breakpoint-mod} {
    min-width: 80%;
  }
  .w-min-90--#{$breakpoint-mod} {
    min-width: 90%;
  }
  .w-min-100--#{$breakpoint-mod} {
    min-width: 100%;
  }
  .w-min-third--#{$breakpoint-mod} {
    width: 1 / 3 * 100%;
  }
  .w-min-two-thirds--#{$breakpoint-mod} {
    width: 2 / 3 * 100%;
  }

  // max-height:
  .w-max-none--#{$breakpoint-mod} {
    max-width: none;
  }
  .w-max-10--#{$breakpoint-mod} {
    max-width: 10%;
  }
  .w-max-20--#{$breakpoint-mod} {
    max-width: 20%;
  }
  .w-max-25--#{$breakpoint-mod} {
    max-width: 25%;
  }
  .w-max-30--#{$breakpoint-mod} {
    max-width: 30%;
  }
  .w-max-40--#{$breakpoint-mod} {
    max-width: 40%;
  }
  .w-max-50--#{$breakpoint-mod} {
    max-width: 50%;
  }
  .w-max-60--#{$breakpoint-mod} {
    max-width: 60%;
  }
  .w-max-70--#{$breakpoint-mod} {
    max-width: 70%;
  }
  .w-max-75--#{$breakpoint-mod} {
    max-width: 75%;
  }
  .w-max-80--#{$breakpoint-mod} {
    max-width: 80%;
  }
  .w-max-90--#{$breakpoint-mod} {
    max-width: 90%;
  }
  .w-max-100--#{$breakpoint-mod} {
    max-width: 100%;
  }
  .w-max-third--#{$breakpoint-mod} {
    max-width: 1 / 3 * 100%;
  }
  .w-max-two-thirds--#{$breakpoint-mod} {
    max-width: 2 / 3 * 100%;
  }

  @each $step, $val in $widths {
    $width-step: "-" + $step;
    // width:
    .w#{$width-step}--#{$breakpoint-mod} {
      width: $val;
    }
    // min-width:
    .w-min#{$width-step}--#{$breakpoint-mod} {
      min-width: $val;
    }
    // max-height:
    .w-max#{$width-step}--#{$breakpoint-mod} {
      max-width: $val;
    }
  }
}
