// # Z-index
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  .z-n1#{$breakpoint-mod} {
    z-index: -1;
  }
  .z-0#{$breakpoint-mod} {
    z-index: 0;
  }
  .z-99#{$breakpoint-mod} {
    z-index: 99;
  }

  @include compose-count-rules($z-index-counts) {
    .z-#{$count-i}#{$breakpoint-mod} {
      z-index: $count-i;
    }
  }
}
