// # Z-index
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

@include compose-breakpoint-rules($breakpoints) {
  .z-n1#{$breakpoint-mod} {
    z-index: -1;
  }
  .z-0#{$breakpoint-mod} {
    z-index: 0;
  }
  .z-99#{$breakpoint-mod} {
    z-index: 99;
  }

  @include compose-counter-rules($z-index-count) {
    .z-#{$counter-index}#{$breakpoint-mod} {
      z-index: $counter-index;
    }
  }
}
