@include make-responsive-rulesets(
  (
    (
      "selector": ".flx-jc-start",
      "declarations": (
        justify-content: flex-start,
      )
    ),
    (
      "selector": ".flx-jc-end",
      "declarations": (
        justify-content: flex-end,
      )
    ),
    (
      "selector": ".flx-jc-center",
      "declarations": (
        justify-content: center,
      )
    ),
    (
      "selector": ".flx-jc-s-between",
      "declarations": (
        justify-content: space-between,
      )
    ),
    (
      "selector": ".flx-jc-s-around",
      "declarations": (
        justify-content: space-around,
      )
    )
  ),
  $screen-sizes
);
