@include make-responsive-rulesets(
  (
    (
      "selector": ".flo-none",
      "declarations": (
        float: none,
      )
    ),
    (
      "selector": ".flo-right",
      "declarations": (
        float: right,
      )
    ),
    (
      "selector": ".flo-left",
      "declarations": (
        float: left,
      )
    )
  ),
  $screen-sizes
);
