@include make-responsive-rulesets(
  (
    (
      "selector": ".vis-visible",
      "declarations": (
        visibility: visible,
      )
    ),
    (
      "selector": ".vis-hidden",
      "declarations": (
        visibility: hidden,
      )
    ),
    (
      "selector": ".vis-collapse",
      "declarations": (
        visibility: collapse,
      )
    )
  ),
  $screen-sizes
);

.js {
  @include make-responsive-rulesets(
    (
      (
        "selector": ".js-vis-visible",
        "declarations": (
          visibility: visible,
        )
      ),
      (
        "selector": ".js-vis-hidden",
        "declarations": (
          visibility: hidden,
        )
      ),
      (
        "selector": ".js-vis-collapse",
        "declarations": (
          visibility: collapse,
        )
      )
    ),
    $screen-sizes
  );
}
